.swiper-container{
  height: 40vh;
}

.swiper-button{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #FFFFFF;
  z-index: 9;
  cursor: pointer;
  color: #FFFFFF;
}
.swiper-button:hover{
  color: #147c61;
  border-color: #147c61;
}
.swiper-wrapper::after{
  content:'';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
  background: url('../images/mask.png') no-repeat center center / 100% 100%;
}
.swiper-slide{
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.swiper-slide__h1{
  font-size: 20px;
}
.swiper-slide__h5{
  font-size: 14px;
}
.swiper-button__text{
  font-size: 16px;
}
.swiper-pagination-bullet{
  background-color: #FFFFFF;
}
.swiper-pagination-bullet-active{
  background-color: #FFFFFF;
}
.area-title{
  font-size: 22px;
}
.area-list__item{
  font-size: 16px;
}
.intro-item{
  min-height: 300px;
  padding: 30px 0;
  flex: 1;
}

.intro-item__title{
  font-size: 22px;
  margin: 30px 0;
  text-align: center;
}
.intro-item__desc{
  font-size: 16px;
}
.intro-item__text{
  flex: 3;
}
.intro-item__media{
  flex: 1;
}
.intro-item__image{
  height: 200px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .swiper-container{
    height: 40vh;
  }
  .swiper-slide__h1{
    font-size: 22px;
  }
  .swiper-slide__h5{
    font-size: 16px;
  }
  .area-title{
    font-size: 26px;
  }
  .area-list__item{
    font-size: 16px;
  }
  .intro-item__title{
    font-size: 26px;
  }
  .intro-item__desc{
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .swiper-container{
    height: 50vh;
  }
  .swiper-slide__h1{
    font-size: 30px;
  }
  .swiper-slide__h5{
    font-size: 20px;
  }

  .area-title{
    font-size: 28px;
  }

  .intro-item__title{
    font-size: 28px;
  }
  .intro-item__desc{
    font-size: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .swiper-container{
    height: 60vh;
  }
  .swiper-slide__h1{
    font-size: 40px;
  }
  .swiper-slide__h5{
    font-size: 22px;
  }
  .area-title{
    font-size: 40px;
  }
  .intro-item__title{
    font-size: 40px;
  }
  .intro-item__desc{
    font-size: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .swiper-container{
    height: 70vh;
  }
  .swiper-slide__h1{
    font-size: 70px;
  }
  .swiper-slide__h5{
    font-size: 24px;
  }
}
