.desc{
  font-size: 18px;
}

.card-media{
  position: relative;
  overflow: hidden;
}
.card-media::after{
  content: "";
  display: block;
  height: 0;
  padding-bottom: 65%;
}
.card-media__image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}
.card-media__image:hover{
  transform: scale(1.1);
}
.card-title__text{
  color: inherit;
}
.card-title__text:hover{
  color: #147c61;
}
.card-text{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .desc{
    font-size: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .desc{
    font-size: 24px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
